<div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="character-screen-side" fxLayoutAlign="center" fxLayout="column">
        Votre apparence à peu d'importance en ces lieux ... <br>
        Elle ne constituera ni avantage ni un inconveniant, elle ne sert à rien. <br>
        Cependant tout Héro se doit d'avoir un visage et un nom.<br>
        D'ailleurs, quel est votre nom?
        <br>
        <input (keyup)="onKey($event)" value={{getName()}} >
        <br>
    </div>
    <div class="character-screen-side" fxLayout="column" fxLayoutAlign="center">
        <app-caracter-display></app-caracter-display>
    </div>
    <div class="character-screen-side" fxLayout="column" fxLayoutAlign="center">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let character of characters" (click)="onSelect(character)">
                <span>{{character.name}}</span>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="!haveUnfilledField()" fxLayoutAlign="center"><button type="button" routerLink="/summary" class="btn btn-secondary btn-lg">Incarner cette enveloppe charnelle!</button></div>