<div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="home-screen-side" fxLayoutAlign="center">
        Le Pandémonium est la capitale de l'Enfer.
        Elle baigne dans des flammes infernales et abrite les pires maux.
        À l'interieur, se dresse une sorte de compartiment clos dans lequel le roi de l'Enfer invoquerait les pires démons de l'Enfer afin de préparer l'Apocalypse.
        Tout autour de cet endroit, des rives de lave et des démons inférieurs sont censés garder l'entrée de cet endroit central à l'abri de quelconque problème abyssal.
        <br><br>
        Dans le Pandemonium, vous ne pouvez pas créer vôtre destin, seules les divinités peuvent le faire.
        Cependant elles vous proposent une infinité de destin et vous devez choisir celui qui vous convient le plus.
    </div>
    <div class="home-screen-side" fxLayout="column" fxLayoutAlign="center">
        <div fxLayoutAlign="center" id="title-table-home-screen" >caractéristiques</div>
        <table>
            <tr> <td fxLayoutAlign="center">Vitalité</td> <td>Value</td></tr>
            <tr> <td fxLayoutAlign="center">Intelligence</td> <td>Value</td></tr>
            <tr> <td fxLayoutAlign="center">Force</td> <td>Value</td></tr>
            <tr> <td fxLayoutAlign="center">Agilité</td> <td>Value</td></tr>
            <tr> <td fxLayoutAlign="center">Chance</td> <td>Value</td></tr>
        </table>
        <div fxLayoutAlign="center"><button type="button" class="btn btn-secondary btn-lg">Changer son destin</button></div>
        <br><br>
    </div>
</div>
<div fxLayoutAlign="center"><button type="button" routerLink="/starting" class="btn btn-secondary btn-lg">Sceller son destin!</button></div>