/* You can add global styles to this file, and also import other style files */
app-root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  }

  body{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
  }

  html{
    height: 90%;
    min-height: 90%;
    width: 100%;
    min-width: 100%;
  }

